#profile-account2 .profile-content {
                 border: 0;
                 padding: 0;
                 box-shadow: 0px 2px 0px rgba(0,0,0, .1);
                 background: #fff;
                 margin-bottom: 40px;
                 border-radius: 0px;
               }
               #profile-account2 .portlet {
                 padding: 0;
               }
               #profile-account2 .caption {
                 display: block;
                 width: 100%;
                 float: none;
                 padding: 15px 20px !important;
                 background: #f0f0f0;
                 border-top-left-radius: 3px !important;
                 border-top-right-radius: 3px !important;
               }
               #profile-account2 .caption-subject {
                 color: #333 !important;
                 text-transform: capitalize;
               }
               #profile-account2 .tabbable-line {
                 margin-bottom: 0;
               }
               #profile-account2 .nav-tabs {
                 float: none;
                 background: #f4f4f4;
                 width: 100%;
                 position: relative;
                 z-index: 10;
               }

               #profile-account2 .nav-tabs li {
                 width: 25%;
                 border-right: 2px solid #f0f0f0;
                 border-bottom: o;
                 text-align: center;
               }
               #profile-account2 .nav-tabs li:last-child {
                 border-right: 0;
               }

               #profile-account2 .portlet-title .nav li.active {
                 border-bottom: 0;
               }

               #profile-account2 .portlet-title .nav li.active a {
                 background:   #1565C0;
                 color: #fff;
                 border-bottom-color:  #1565C0 !important;
               }

               #profile-account2 .portlet-title .nav li.active a:before {
                 content: '';
                 position: absolute;
                 left: 45%;
                 top: 100%;
                 width: 0;
                 height: 0;
                 border-left: 10px solid transparent;
                 border-right: 10px solid transparent;

                 border-top: 10px solid  #1565C0;
               }

               #profile-account2 .nav-tabs li a {
                 padding: 12px 7px;
                 border-bottom: 2px solid #f0f0f0 !important;
                 margin: 0;
                 border-radius: 0;
                 text-transform: uppercase;
                 color: #333;
                 font-size: 13px;
               }

               #profile-account2 .portlet-title .nav li:hover {
                 border-bottom: 0;
                 background: transparent;
               }

               #profile-account2 .tabbable-line {
                 border-bottom: 0;
               }

               #profile-account2 .tab-content {
                 padding: 30px;
               }

               .tab-content .form-group {
                 position: relative;
                 margin-bottom: 30px;
               }

               #profile-account2 label {
                 color: #666;
                 font-weight: 600;
                 font-size: 15px;
                 margin-bottom: 8px;
               }

               #profile-account2 .tab-content .table {
                 _font-family: 'Open Sans', sans-serif;
               }

               #profile-account2 .tab-content .table tbody tr {
                 background: #f4f4f4;
               }

               #profile-account2 .tab-content .table tbody tr td {
                 border-bottom: 1px solid #ddd;
               }

               #profile-account2 .tab-content .table tbody tr td:first-child {
                 border-left: 1px solid #ddd;
               }

               #profile-account2 .tab-content .table tbody tr td {

                 padding-left: 20px;
                 padding-top: 16px;
                 color: #999;
                 font-weight: normal !important;
               }
               #profile-account2 .tab-content .table tbody tr td a.profile-desc-link {
                 color: #999;
                }
               #profile-account2 .tab-content .table tbody tr td:last-child {
                 border-right: 1px solid #ddd;
               }

               #profile-account2 .tab-content .table tbody tr td label {
                 background: transparent;
               }

               #profile-account2 .tab-content .table tbody tr td label input {
                 margin-right: 5px;
               }

               #main-wrapper {
                 background: #fbfbfb;
               }


               .btn-new {
                 display: inline-block;
                 margin-bottom: 0;
                 font-weight: inherit;
                 text-align: center;
                 vertical-align: middle;
                 touch-action: manipulation;
                 cursor: pointer;
                 background-image: none;
                 border: 0;
                 white-space: nowrap;
                 color: #ffffff !important;
                 padding: 6px 21.312px;
                 transition: all 0.3s;
                 border-radius: 0px;
                 text-transform: uppercase !important;
                 font-size: 13px !important;
                 font-family: 'Open Sans', sans-serif;
               }

               .btn-custom {
                 background-color:  #1565C0;
                 border: 2px solid  #1565C0;
                 color: #fff;
                 padding: 6px 30px !important;
               }

               .nav-button {
               	position: relative;
               	width: 100%;
               	padding: 30px;
               	padding-bottom: 0;
               }

               .nav-button a {
               	margin-right: 10px;
               }

               #profile-account2 a.btn-custom-reverse {
               	color:  #1565C0 !important;
               	background: transparent;
               	border: 2px solid  #1565C0 !important;
               }

               #profile-account2 .green-haze {
                 background-color:  #1565C0 !important;
                 border: 2px solid  #1565C0;
                 color: #fff;
               }



               .btn-custom:hover, .btn-custom.hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
                   background-color: #629e0b;
                   border-color: #629e0b;
               }


               .table .profile-desc-link img {
               	border-radius: 50%;
               }

               #profile-account2 .tab-content .table tbody tr td {
               	vertical-align: middle;

               }

               .table-head  {
                 border: 1px solid  #1565C0;
               }


               .table-head th{
                 background:  #1565C0;
                 font-weight: normal;
                 color: #fff;
                 padding: 13px 19px !important;
                 border-top: 0 !important;
               }


               #profile-account2 .tab-content .table tbody tr td {
                 padding-top: 13px;
                 padding-bottom: 14px;
               }


               .upload-content {
               	position: relative;
               	width: 100%;
               }

               .image-content {
               	width: 100%;
               	background: #f8f8f8;
               	min-height: 200px;
               	border-radius: 0px;
               	border: 1px solid #ddd;
               	padding: 20px;
               	margin-bottom: 10px;
               }

               .image-content img {
               	height: 180px;
               }


               .full-width {
              		width: 100%;
              	}


               .panel-heading {
              	background: rgba(102, 162, 232, 0.1) !important;
              	}

              	.bootstrap-wrapper .panel-title {
              		font-size: 15px !important;
              		padding-bottom: 3px !important;
              		padding-left: 0 !important;
              	}
