 #profile-template-5 .profile-sidebar {
   float: left;
   width: 100%;
   margin-right: 0;
   padding: 0 0 10px 0;
   background: #fff;
   box-shadow: 0px 1px 3px 1px rgba(0,0,0, .1);
 }
.portlet.light.profile-sidebar-portlet {
  padding-bottom: 0 !important;
 /* PROFILE SIDEBAR */
}


/* #profile-template-5  .profile-userpic {
   padding: 20px 20px 0px;
 }*/

 #profile-template-5  .profile-userpic img {
   float: none;
   margin: 0 auto;
   padding: 5px;
   border: 1px solid #f4f4f4;
   width: 100%;
   height: auto;

 }

 #profile-template-5  .profile-usertitle {
   text-align: center;
   margin-top: 10px;
 }

 #profile-template-5  .profile-usertitle-name {
   color: #333;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 7px;
 }

 /* PROFILE SIDEBAR */
/* #profile-template-5  .profile-sidebar-portlet {
   padding: 30px 0 0 0 !important;
 }*/

 #profile-template-5  .profile-userpic img {
   float: none;
   margin: 0 auto;

   -webkit-border-radius: 3px !important;
   -moz-border-radius: 3px !important;
   border-radius: 3px !important;
 }

 #profile-template-5  .profile-usertitle {
   text-align: center;
   margin-top: 20px;
 }


 #profile-template-5  .profile-usertitle-name {
   color: #333;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 7px;
   text-align: left;

 }

 #profile-template-5  .profile-usertitle-job {
   color: #999;
   font-size: 13px;
   margin-bottom: 7px;
   text-align: left;
   font-style: italic;
 }
 .entry-content a{
  border-bottom: 0px solid #333 !important;
 }
 #profile-template-5 .profile-userbuttons {
   text-align: center;
   margin-top: 10px;
 }

 .social-info  {
  position: relative;
  display: inline-block;
  width: 100%;
 }

.social-info .profile-desc-link {
  float: left;
}



 #profile-template-5 .profile-usermenu ul li a:hover {
   background-color: #fafcfd;
   color:  #1565C0;
 }

 .profile-usermenu ul li.active a {
   color:  #1565C0 !important;
   background-color: #f6f9fb;
   border-left: 2px solid  #1565C0;
   margin-left: -2px;
 }

 #profile-template-5 .profile-stat {
   padding-bottom: 20px;
   border-bottom: 1px solid #f0f4f7;
 }

 #profile-template-5  .profile-stat-title {
   color: #7f90a4;
   font-size: 25px;
   text-align: center;
 }
 #profile-template-5 .tabbable-line{
   border-bottom: 1px solid #ececec;
   margin-bottom: 30px;
 }
  #profile-template-5 .profile-stat-text {
   color:  #1565C0;
   font-size: 11px;
   font-weight: 800;
   text-align: center;
 }
 .bm{margin-bottom: 40px}

 #profile-template-5 .profile-desc-title {
   color: #999;
   font-size: 17px;
   font-weight: 600;
 }
 #profile-template-5 .profile-desc-text {
   color: #999;
   font-size: 14px;
   padding-bottom: 10px;
 }

  #profile-template-5 .profile-desc-link a {
    color: #999;
  }

  #profile-template-5 .profile-desc-text strong,
   #profile-template-5 .profile-desc-link strong {
    display: block;
    color: #333;
  }
 #profile-template-5 .caption-subject{
   display: block;
   width: 100%;
   float: none;
   padding: 15px 20px !important;
   background: #f0f0f0;
   border-top-left-radius: 3px !important;
   border-top-right-radius: 3px !important;
   font-weight: bold;
   color: #333;
 }
 #profile-template-5 .profile-desc-link i {
   font-size: 32px;
   color: #abb6c4;
   margin-right: 15px;
 }
 #profile-template-5 .portlet{
   background: #fff;
   padding: 20px 20px 20px 20px;
   margin-bottom: 0;
 }

  #profile-template-5 .portlet h4 {
    margin:0;
    padding: 15px 0 10px;
    color: #333;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
.profile-content  {
  border: 0;
    padding: 0;
    box-shadow: 0px 2px 0px rgba(0,0,0, .1);
    background: #fff;
    margin-bottom: 40px;
    border-radius: 0px;
}
.profile-content  .portlet-body {
  padding: 10px 30px 40px;
}
.profile-content  .cbp-item-wrapper {
  padding-bottom: 20px;
  background: #f8f8f8;
  border-radius: 0px;
}

.profile-content .cbp-caption-fadeIn .cbp-caption-activeWrap {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.profile-content .cbp-l-grid-team-name  {
  text-align: left;
  color: #333;
  font-size: 15px;
  font-family: "Montserrat" , sans-serif;
  padding: 0 20px;
}
.profile-content .cbp-l-grid-team-position  {
  text-align: left;
  padding: 0 20px;
}
.profile-content  .cbp-item-wrapper .cbp-caption-defaultWrap img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
  #profile-template-5 .profile-desc-link {
    padding-bottom: 10px;
  }

 #profile-template-5 .profile-desc-link a {
   font-size: 14px;

   color: #999;
   word-wrap: break-word;
 }
 #profile-template-5 .margin-top-20{
   margin-top: 20px
 }
 #profile-template-5  h2 {
   font-weight: 700;
   font-family: 'open-sans',sans-serif;
   font-size: 16px;
   padding-bottom: 15px;
   display: block;
   color:#578ebe !important;
   }

.entry-content p{
   padding: 10px 15px 0 0 !important;
   font-weight: 400;
   font-family: 'open-sans',sans-serif;
   font-size: 14px;
   text-align: left;
   margin-bottom: 0;
   }
   #profile-template-5 .nav-tabs {
   border-bottom: 1px solid #ddd;
   }
  #profile-template-5 .post-list-header{
    color: #5a7391;
    margin-bottom: 0;
    display:inline-block;
    text-decoration: underline;
  }
  #profile-template-5 .post-onprofile-header{
   font-weight: 600;
   font-family: 'open-sans',sans-serif;
   font-size: 15px;
   text-align: left;
   margin: 0;
  }
  #profile-template-5 .nav-tabs {
   background: none;
   margin: 0;
   float: right;
   display: inline-block;
   border: 0;
   }

   #profile-template-5 .around-separetor{
   background-color: #eff3f8 !important;
   }

 /* RESPONSIVE MODE */
 @media (max-width: 767px) {

 #profile-template-5 .profile-sidebar {
     float: none;
     width: 100%;
     margin-right: 20px;
     padding: 0 0 15px 15px;
     text-align: center;
     border: 1px solid  #1565C0;
     }



 #profile-template-5  .profile-content {
     overflow: visible;
   }
 }
/* .border-blue{
 border: 1px solid #DADFE1;
 background: #fff;
 }*/
.padding-0{
  padding: 0 !important;
}
.padding-left-10{
 padding-left: 10px;
 margin: 0 auto;
}

 #profile-template-5 ul.iv-pagination {
 display: inline-block;
 padding-left: 0;
 margin: 20px 0;
 border-radius: 4px;
 list-style: none;
 }
#profile-template-5 .list-pagi{
  border: 1px solid transparent;
  float: left;
  margin-left: .5em;
  padding: 0;
  list-style: none;
}




 #profile-template-5 ul.iv-pagination {
 display: inline-block;
 padding-left: 0;
 margin: 20px 0;
 border-radius: 4px;
 list-style: none;
 }
#profile-template-5 .list-pagi{
  float: left;
  margin-left: .5em;
  padding: 0;
  list-style: none;
  border-radius: 0px;
}
#profile-template-5 .list-pagi a{
  color: #999;
  padding: 1px 10px;
  border-color: transparent;
}
#profile-template-5 .list-pagi:hover{
  border: 1px solid transparent;
  border-radius: 0px;
}
#profile-template-5 .list-pagi:hover a{
  color:  #1565C0;
  text-decoration: none;
}
#profile-template-5 .active-li{
  border: 1px solid  #1565C0;
  background: #1565C0
}
#profile-template-5 .active-li a{
  color: #fff;
}

#profile-template-5 .active-li a:hover {
  color: #fff;
}



.cbp-item figcaption {
    background-color: #E67E22;
}
.cbp-item figcaption {
    color: #ffffff;
}
.cbp-item figure figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 13px;
    padding: 2px 9px;

}





.public-profile-content .cbp-caption-activeWrap {
  position: absolute;
}











